.card:hover{
     box-shadow: 1px 1px 1px 1px white;
    transition: 0.8s;
}
.card{
     transition: 0.7s;
}

.bor{
    border-color: black;
}
.n1{
     background: linear-gradient(#116466,black);
}

.d1{
    background: linear-gradient(#116466,black);
    margin: 30px;
    
    border-radius: 10px;
}

.bg{
    margin-top: -20px;
  background-image: url(5.jpg);
}
a{
    color: white;
    font-weight: 900;
    font-size: 20px;
}
a:hover{
    color: white;
    font-weight: 900;
    font-size: 20px;
}
.b{
    background-color: #3c3d41;
  
}
.cu{
    background-color: lightgray;
}

.jd{
    background-color: black;
    color: white;
     font-weight: 500;
    font-size: 14px;
}
.cd{
    background-color: black;
    color: white;
     font-weight: 500;
    font-size: 14px;
}
.v{
   
    font-weight: 900;
    font-size: 30px;
    
}

.qup{
    background-color: #116466;
 
}
.qdown {
    background-color: black;
     color: yellow;
   
}
.dup  {
    background-color: #1F2833;
     color: white;
}
.ddown{
    background-color: black;
    color: #14A76C;
}
.ab{
    margin-bottom: 0;
    
    background-image: url(4.jpg);
    color: white
}
.bc{
   margin-left: 10px;
    margin-right: 10px;
  
}


#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}


